<h2>Weather Dashboard</h2>
<a href=<%= index %>>Click to See All <% @model.name %></a>

<p>Per 10 degree interval</p>
    <ul>
        <% @data[:temperature_breakout].each_pair do |range, value|%>
            <li><%=range%> degrees Farenheit: <%value.each_pair do |category, trip_count|%>
                <%=category%>: <%=trip_count%>, 
            <%end%></li>
        <%end%>
    </ul>
<p>Per 1/2in of Precipitation</p>
    <ul>
        <% @data[:precipitation_breakout].each_pair do |range, value|%>
            <li><%=range%>: <%value.each_pair do |category, trip_count|%>
                <%=category%>: <%=trip_count%>, 
            <%end%></li>
        <%end%>
    </ul>
<p>Per 4 mile increment</p>
    <ul>
        <% @data[:windspeed_breakout].each_pair do |range, value|%>
            <li><%=range%>: <%value.each_pair do |category, trip_count|%>
                <%=category%>: <%=trip_count%>, 
            <%end%></li>
        <%end%>
    </ul>
<p>Per Visibility of 4 miles</p>
    <ul>
        <% @data[:visibility_breakout].each_pair do |range, value|%>
            <li><%=range%>: <%value.each_pair do |category, trip_count|%>
                <%=category%>: <%=trip_count%>, 
            <%end%></li>
        <%end%>
    </ul>