<h2>Station Dashboard</h2>
<a href=<%= index %>>Click to See All <% @model.name %></a>

<p>Total stations: <%= @data[:total] %></p>
<p>Average bikes available per station: <%= @data[:average_docks] %></p>
<p>Stations with most  bikes (<%= @data[:most_docks] %>): <%= @data[:with_most_docks] %></p>
<p>Stations with least bikes (<%= @data[:least_docks] %>): <%= @data[:with_least_docks] %></p>
<p>Newest stations: <%= @data[:newest] %></p>
<p>Oldest Stations: <%= @data[:oldest] %></p>
