<h2><%= @record.display %></h2>
<p>Duration: <%= @record.duration %> minutes</p>
<p>Bike ID: <%= @record.bike_id %></p>
<p>Subscription Type: <%= @record.subscription_type %></p>
<p>Zip Code: <%= @record.zip_code %></p>
